---
services:
  rabbitmq:
    image: rabbitmq:4.1.6-management-alpine
    container_name: rabbitmq
    ports:
      - 5672:5672        
      - 15672:15672      
      - 15692:15692
    networks:
      - observability
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin@2025
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbitmq_prometheus"
      
  otel-collector:
    image: otel/opentelemetry-collector-contrib:nightly
    container_name: otel-collector
    command:
      - --config=/etc/otel/config.yaml
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
      - 8889:8889 
    networks:
      - observability
    depends_on:
      - rabbitmq

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    depends_on:
      - otel-collector
    networks:
      - observability

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    networks:
      - observability
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin@2025
      
  loki:
    image: grafana/loki:3.5
    container_name: loki
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config/config.yml
    volumes:
      - ./loki-config.yaml:/etc/loki/config/config.yml
    networks:
      - observability
        
networks:
  observability:
    driver: bridge
