services:
  web:
    image: httpd:2.4
    container_name: apache_server
    ports:
      - "8080:80"
    volumes:
      - ./status.conf:/usr/local/apache2/conf/extra/status.conf
    command: >
      sh -c "echo 'Include conf/extra/status.conf' >> /usr/local/apache2/conf/httpd.conf && httpd-foreground"
    networks:
      - observability

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command:
      - --config=/etc/otel/config.yaml
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
      - 8889:8889
    networks:
      - observability

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    networks:
      - observability

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    command: ["-config.file=/etc/mimir/mimir.yaml"]
    volumes:
      - ./mimir.yaml:/etc/mimir/mimir.yaml
    ports:
      - "9009:9009"
    networks:
      - observability

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config/config.yml
    volumes:
      - ./loki-config.yaml:/etc/loki/config/config.yml
    networks:
      - observability

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: -config.file=/etc/tempo/tempo.yaml
    volumes:
      - ./loki:/var/loki
      - ./tempo.yaml:/etc/tempo/tempo.yaml
    ports:
      - "3200:3200"     
      - "4319:4319"     
    networks:
      - observability

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    networks:
      - observability
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin@2025
      - GF_FEATURE_TOGGLES_ENABLE=tempoSearch,lokiLogs,mimirMetrics

networks:
  observability:
    driver: bridge
