---
services:
  kafka:
    image: apache/kafka:4.1.1-rc2
    container_name: kafka
    volumes:
      - ./jmx_prometheus_javaagent.jar:/opt/jmx_prometheus_javaagent.jar
      - ./config.yml:/opt/config.yml
    environment:
      KAFKA_OPTS: "-javaagent:/opt/jmx_prometheus_javaagent.jar=7071:/opt/config.yml"
    ports:
      - "9092:9092"
      - "7071:7071"
    networks:
      - observability    
      
  otel-collector:
    image: otel/opentelemetry-collector-contrib:nightly
    container_name: otel-collector
    command:
      - --config=/etc/otel/config.yaml
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
      - 8889:8889   
    networks:
      - observability

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    depends_on:
      - otel-collector
    networks:
      - observability

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    networks:
      - observability
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin@2025

networks:
  observability:
    driver: bridge
