receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'kafka'
          static_configs:
            - targets: ['kafka:7071']
          metrics_path: /metrics
            
exporters:
  prometheus:
    endpoint: "0.0.0.0:8889" 

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      exporters: [prometheus]
