receivers:
  sqlserver:
    collection_interval: 5s
    username: sa
    password: Admin!docker123D
    server: sqlserver
    port: 1433

    resource_attributes:
      sqlserver.computer.name:
        enabled: true
      sqlserver.instance.name:
        enabled: true
      host.name:
        enabled: true
      service.instance.id:
        enabled: true
      sqlserver.database.name:
        enabled: true

    events:
      db.server.query_sample:
        enabled: true
      db.server.top_query:
        enabled: true

    query_sample_collection:
      max_rows_per_query: 100

    top_query_collection:
      lookback_time: 1800s
      top_query_count: 50
      collection_interval: 1800s

    metrics:
      sqlserver.batch.request.rate:
        enabled: true
      sqlserver.page.life_expectancy:
        enabled: true
      sqlserver.transaction_log.growth.count:
        enabled: true
      sqlserver.transaction_log.usage:
        enabled: true
      sqlserver.user.connection.count:
        enabled: true
      sqlserver.database.latency:
        enabled: true
      sqlserver.database.tempdb.space:
        enabled: true
      sqlserver.deadlock.rate:
        enabled: true
      sqlserver.memory.grants.pending.count:
        enabled: true
      sqlserver.processes.blocked:
        enabled: true

  oracledb:
    datasource: "oracle://pdbadmin:Admin!docker123D@oracle:1521/ORCLPDB1"
    collection_interval: 1800s

    events:
      db.server.query_sample:
        enabled: true
      db.server.top_query:
        enabled: true

    query_sample_collection:
      max_rows_per_query: 100

    top_query_collection:
      top_query_count: 50

    metrics:
      oracledb.dml_locks.limit:
        enabled: true
      oracledb.dml_locks.usage:
        enabled: true
      oracledb.enqueue_deadlocks:
        enabled: true
      oracledb.enqueue_locks.limit:
        enabled: true
      oracledb.enqueue_locks.usage:
        enabled: true
      oracledb.executions:
        enabled: true
      oracledb.pga_memory:
        enabled: true
      oracledb.processes.limit:
        enabled: true
      oracledb.processes.usage:
        enabled: true
      oracledb.sessions.limit:
        enabled: true
      oracledb.sessions.usage:
        enabled: true
      oracledb.tablespace_size.limit:
        enabled: true
      oracledb.tablespace_size.usage:
        enabled: true
      oracledb.transactions.limit:
        enabled: true
      oracledb.transactions.usage:
        enabled: true
      oracledb.logons:
        enabled: true

processors:
  batch:
    timeout: 5s
    send_batch_size: 512
    send_batch_max_size: 1024

  resource/oracle:
    attributes:
      - key: service.name
        value: "oracle-db"
        action: upsert
      - key: service.namespace
        value: "database"
        action: upsert
      - key: service.instance.id
        action: insert
        value: "orclpdb1"

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"

  otlphttp:
    endpoint: "http://loki:3100/otlp"

service:
  pipelines:

    metrics:
      receivers: [sqlserver, oracledb]
      processors: [batch]
      exporters: [prometheus]

    logs:
      receivers: [sqlserver, oracledb]   
      processors: [resource/oracle, batch]
      exporters: [otlphttp]
